fastapi
uvicorn
httpx
pydantic
google-generativeai
python-dotenv
supabase
pinecone
cohere
gunicorn
python-multipart
llama-index
llama-index-vector-stores-pinecone
llama-index-embeddings-gemini
llama-index-llms-google-genai
llama-index-readers-file
llama-parse
pymupdf
pandas
openpyxl
bertopic
umap-learn
hdbscan
scikit-learn
numpy
